:root {
  --color-primary-dark: #202020;
  --color-secondary-dark: #272727;
  --color-accent-dark: #303030;
  --color-accent-colorful: #3DDC84;
  --main-font-color: #FFFFFF;
  --secondary-font-color: #8B8B8B;
}