.page__wrapper-narrow {
  margin: 0 auto;
  max-width: 1140px;
  width: calc(100% * (1140 / 1280));
}

@media screen and (max-width: 1023px) {
  .page__wrapper-narrow {
    width: calc(100% * (668 / 768));
  }
}

@media screen and (max-width: 767px) {
  .page__wrapper-narrow {
    width: calc(100% * (292 / 320));
  }
}