.page__footer {
  display: flex;
  flex-direction: column;
  padding: 79px 70px 0;
}

@media screen and (max-width: 1023px) {
  .page__footer {
    padding: 79px 30px 0;
  }
}

@media screen and (max-width: 767px) {
  .page__footer {
    padding: 79px 10px 0;
  }
}

.footer__title {
  padding-bottom: 20px;
  margin: 0;
  text-align: center;
  color: var(--secondary-font-color);
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  border-bottom: 1px solid #424242;
}

@media screen and (max-width: 767px) {
  .footer__title {
    font-size: 12px;
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

@media screen and (max-width: 767px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
    margin: 30px 0 20px;
  }
}

.footer__nav {
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer__nav {
    order: -1;
    flex-direction: column;
    align-items: center;
  }
}

.footer__subtitle {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: var(--main-font-color);
}

@media screen and (max-width: 767px) {
  .footer__subtitle {
    font-size: 12px;
    color: var(--secondary-font-color);
  }
}

.footer__link {
  margin-right: 20px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: var(--main-font-color);
  transition: opacity .3s linear;
}

@media screen and (max-width: 767px) {
  .footer__link {
    font-size: 12px;
    margin: 0 0 12px;
  }
}

.footer__link:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .footer__link:last-of-type {
    margin-bottom: 30px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .footer__link:hover {
    opacity: .7;
    cursor: pointer;
  }
}